@use "../base" as *;
@use "../variables" as *;

#create {
  @include centered-page;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  form {
    --input-height: 2.5em;

    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: hidden;

    input,
    select,
    button {
      border: none;
      outline: none;
      padding: 0;
      color: inherit;
      background: none;
    }

    formset {
      display: flex;
      gap: 1em;

      @media (max-width: $mobile-width) {
        gap: 0.5em;
      }

      &:nth-child(1) {
        justify-content: space-between;
        & > * {
          flex: 1;
        }

        @media (max-width: $mobile-width) {
          display: grid;
          grid-template-columns: 1fr;
        }
      }

      &:nth-child(2) {
        justify-content: flex-end;
      }
    }

    button[type="submit"] {
      background-color: var(--primary);
    }

    button[type="submit"],
    formset:not(.content-editor) {
      font-weight: bold;
      margin-bottom: 1em;

      @media (max-width: $mobile-width) {
        margin-bottom: 0.5em;
      }
    }

    .content-editor {
      flex: 1;
      overflow-y: scroll;

      padding: 1em 0;
      margin-bottom: 1em;
      border-top: 1px solid var(--overlay);

      & > * {
        width: 100%;
        height: 100%;
      }

      textarea {
        background-color: var(--background);
        color: var(--foreground);
        font-family: monospace;
        padding: 0;
        outline: none;
        border: none;
        resize: none;
      }

      .TinyMDE {
        padding: 0;
        color: var(--foreground);
        background-color: var(--background);
      }
    }

    .label-input-set {
      color: var(--foreground);
      height: var(--input-height);
      background-color: var(--overlay);
      border-radius: var(--radius);

      display: flex;
      align-items: center;

      padding: 0 0.75em;

      label {
        margin-right: 0.75em;
      }

      input,
      select {
        flex: 1;
        &:not([type="file"]) {
          height: 100%;
        }
      }
    }

    .toggle-checkbox {
      input {
        display: none;
      }

      label {
        color: var(--foreground);
        height: var(--input-height);
        padding: 0 0.65em;
        display: flex;
        align-items: center;
        border: 1px solid var(--overlay);
        border-radius: var(--radius);
        transition: all 75ms ease-in-out;
      }

      input:checked + label {
        background-color: var(--overlay);
        border-color: transparent;
      }
    }

    .radio-group {
      border-radius: var(--radius);
      overflow: hidden;
      display: flex;
      border: 1px solid var(--overlay);
      width: min-content;

      input {
        display: none;
      }

      label {
        color: var(--foreground);
        margin: 0;
        height: var(--input-height);
        padding: 0 0.65em;
        border-right: 1px solid transparent;
        display: flex;
        align-items: center;
        transition: all 75ms ease-in-out;
      }

      input:checked + label {
        background-color: var(--overlay);
      }

      input:not(:checked) + label:not(:last-child) {
        border-color: var(--overlay);
      }
    }
  }

  #images {
    width: 0;
  }
}
