#create {
  width: var(--page-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);

  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  form {
    --input-height: 2.5em;

    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: hidden;

    input,
    select,
    button {
      border: none;
      outline: none;
      padding: 0;
      color: inherit;
      background: none;
    }

    formset {
      display: flex;
      gap: 0.5em;

      &:nth-child(1) {
        justify-content: space-between;

        & > * {
          flex: 1;
        }
      }

      &:nth-child(2) {
        justify-content: flex-end;
      }
    }

    button[type="submit"] {
      height: var(--input-height);
      border-radius: var(--radius);
      background-color: var(--primary);
      color: var(--background);
    }

    formset:not(.content-editor),
    button[type="submit"] {
      font-weight: bold;
      font-size: 1.15em;
      margin-bottom: 1em;
    }

    .content-editor {
      flex: 1;
      overflow-y: scroll;

      padding: 1em 0;
      margin-bottom: 1em;
      border-top: 1px solid var(--overlay);

      & > * {
        width: 100%;
        height: 100%;
      }

      textarea {
        font-family: monospace;
      }

      .TinyMDE {
        padding: 0;
        color: var(--foreground);
        background-color: var(--background);
      }
    }

    .label-input-set {
      color: var(--foreground);
      height: var(--input-height);
      background-color: var(--overlay);
      border-radius: var(--radius);

      display: flex;
      align-items: center;

      padding: 0 0.75em;

      label {
        margin-right: 0.75em;
      }

      input {
        flex: 1;
      }
    }

    .toggle-checkbox {
      input {
        display: none;
      }

      label {
        color: var(--foreground);
        height: var(--input-height);
        padding: 0 0.65em;
        display: flex;
        align-items: center;
        border: 1px solid var(--overlay);
        border-radius: var(--radius);
      }

      input:checked + label {
        background-color: var(--overlay);
        border-color: transparent;
      }
    }

    .radio-group {
      border-radius: var(--radius);
      overflow: hidden;
      display: flex;
      border: 1px solid var(--overlay);
      width: min-content;

      input {
        display: none;
      }

      label {
        color: var(--foreground);
        margin: 0;
        height: var(--input-height);
        padding: 0 0.65em;
        border-right: 1px solid transparent;
        display: flex;
        align-items: center;
      }

      input:checked + label {
        background-color: var(--overlay);
      }

      input:not(:checked) + label:not(:last-child) {
        border-color: var(--overlay);
      }
    }
  }
}
