@use "../base" as *;
@use "../variables" as *;

#settings {
  @include centered-page;
  overflow: hidden;
  margin-bottom: 2em;

  display: flex;
  flex-direction: column;

  form {
    width: 100%;
    margin-bottom: 1em;

    formset {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 0.5em;
      margin-bottom: 1em;
    }

    hgroup {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        --input-height: 2em;
        width: 2.5em;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1em;

      @media (max-width: $mobile-width) {
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
        & > *:nth-child(even) {
          margin-bottom: 0.5em;
        }
      }
    }

    label {
      display: flex;
      align-items: center;

      user-select: none;

      &.multiline {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
        & > * {
          width: 100%;
        }
      }

      & > *:nth-child(2) {
        margin-left: auto;
      }

      @media (max-width: $mobile-width) {
        &:not(.checkbox-input) {
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5em;

          & > *:nth-child(2) {
            margin-left: 0;
            width: 100%;
          }
        }
      }

      p {
        margin: 0;
        margin-right: 0.5em;
      }

      .big-checkbox {
        input {
          width: 0;
          height: 0;
          visibility: hidden;
          position: fixed;
          z-index: -1;
        }

        .checkbox,
        .checkbox:after {
          transition: all 0.15s ease-in-out;
        }

        .checkbox {
          --width: 2.5em;
          --height: 1.5em;
          --circle-margin: 0.15em;

          cursor: pointer;
          text-indent: -9999px;
          width: var(--width);
          height: var(--height);
          background: var(--overlay);
          display: block;
          border-radius: 100px;
          position: relative;
        }

        input:hover + .checkbox {
          background: var(--overlay-hover);
        }

        .checkbox:after {
          content: "";
          position: absolute;
          top: var(--circle-margin);
          left: var(--circle-margin);
          width: calc(var(--height) - (var(--circle-margin) * 2));
          height: calc(var(--height) - (var(--circle-margin) * 2));
          background: var(--background);
          border-radius: 100px;
        }

        input:checked + .checkbox {
          background: var(--primary);
        }

        input:checked:hover + .checkbox {
          background: var(--primary-hover);
        }

        input:checked + .checkbox:after {
          left: calc(100% - var(--circle-margin));
          transform: translateX(-100%);
        }
      }
    }
  }
}
