@use "../base" as *;
@use "../variables" as *;

#settings {
  @include centered-page;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  section {
    margin-bottom: 1rem;
  }

  form {
    width: 100%;

    formset.grid {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 1rem;
      margin-bottom: 1rem;

      @media (max-width: $mobile-width) {
        grid-template-columns: 1fr;
        & > *:nth-child(even) {
          margin-left: auto;
        }
      }
    }

    formset.toggles {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    button {
      width: 100%;
    }

    label {
      display: flex;
      align-items: center;

      p {
        margin: 0;
        margin-right: 0.5em;
      }

      .big-checkbox {
        margin-left: auto;

        input {
          width: 0;
          height: 0;
          visibility: hidden;
          position: fixed;
          z-index: -1;
        }

        .checkbox,
        .checkbox:after {
          transition: all 0.15s ease-in-out;
        }

        .checkbox {
          --width: 2.5em;
          --height: 1.5em;
          --circle-margin: 0.15em;

          cursor: pointer;
          text-indent: -9999px;
          width: var(--width);
          height: var(--height);
          background: var(--dull);
          display: block;
          border-radius: 100px;
          position: relative;
        }

        .checkbox:after {
          content: "";
          position: absolute;
          top: var(--circle-margin);
          left: var(--circle-margin);
          width: calc(var(--height) - (var(--circle-margin) * 2));
          height: calc(var(--height) - (var(--circle-margin) * 2));
          background: var(--background);
          border-radius: 100px;
        }

        input:checked + .checkbox {
          background: var(--primary);
        }

        input:checked + .checkbox:after {
          left: calc(100% - var(--circle-margin));
          transform: translateX(-100%);
        }
      }
    }
  }
}
