package layouts

import "libdb.so/onlygithub"
import "libdb.so/onlygithub/frontend/components"

type MainOpts struct {
	Me *onlygithub.User // current user, optional
}

templ Main(id, title string, site *onlygithub.SiteConfig, owner *onlygithub.User) {
	@components.Head(components.HeadOpts{Title: title, Owner: owner})

	<body class="main" id={ id }>
		{ children... }
	</body>
}
