@use "variables" as *;

html,
body {
  height: 100%;
  color: var(--foreground);
  background-color: var(--background);
}

body {
  margin: 0 auto;
  font-family: "Lato", "Helvetica", "Noto Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Nunito", "Source Sans Pro", "Helvetica", "Segoe UI", sans-serif;
}

.material-icons {
  cursor: default;
  user-select: none;
  font-size: 1.35em;

  &.large {
    font-size: 2.25em;
  }

  &.inline {
    font-size: 1.5em;
    margin: 0 -0.1em;
    vertical-align: bottom;
    display: inline-flex;
  }
}

button,
a[role="button"] {
  &:hover,
  &:hover * {
    cursor: pointer;
  }
}
