@use "variables" as *;

@mixin centered-page {
  width: var(--page-width);
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: var(--foreground);
  background-color: var(--background);
}

body {
  margin: 0 auto;
  // https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiI4MDBweCIsIm1pbkZvbnRTaXplIjoiMC45NXJlbSIsIm1heEZvbnRTaXplIjoiMS4xNXJlbSJ9
  font-size: clamp(0.95rem, 0.6167rem + 1.0667vw, 1.15rem);
  font-family: "Lato", "Helvetica", "Noto Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Nunito", "Source Sans Pro", "Helvetica", "Segoe UI", sans-serif;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--dull);
}

.material-icons {
  cursor: default;
  user-select: none;
  font-size: 1.65em;
  margin: 0 -0.1em;
  vertical-align: bottom;
  display: inline-flex;

  &.large {
    font-size: 2.25em;
  }

  &.inline {
    font-size: 1.35em;
  }
}

button,
a[role="button"] {
  &:hover,
  &:hover * {
    cursor: pointer;
  }
}

input,
select,
button {
  --input-height: 2.25em;

  border: 1px solid transparent;
  border-radius: var(--radius);
  outline: none;
  padding: 0 0.65em;
  height: var(--input-height);
  line-height: var(--input-height);
  color: inherit;
  background: var(--overlay);
  transition: all 100ms ease-in-out;

  &:focus {
    background-color: var(--overlay-hover);
  }
}

textarea {
  background-color: var(--overlay);
  border: none;
  border-radius: var(--radius);
  outline: none;
  padding: 0.65em;
  color: inherit;
  transition: all 100ms ease-in-out;

  &.code {
    font-family: monospace;
  }

  &.grow {
    resize: vertical;
    overflow-y: hidden;
  }

  &:focus {
    background-color: var(--overlay-hover);
  }
}

button {
  height: var(--input-height);
  border-radius: var(--radius);
  padding: 0 1em;
  color: white;
  background-color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.45em;

  transition: all 75ms ease-in-out;

  &.del {
    --primary: var(--error);
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
  }

  &:hover {
    --primary: var(--primary-hover);
  }
}

a.back-link {
  --color: var(--dull);

  color: var(--color);
  transition: all 75ms ease-in-out;
  border-right: 1px solid var(--color);
  margin-right: 0.25em;
  line-height: normal;

  &:hover {
    --color: var(--primary-hover);
  }
}

// Swup code.
body.main > main {
  transition: opacity 100ms linear;
  opacity: 1;

  @media (prefers-reduced-motion) {
    transition-duration: 0ms;
  }
}

html.is-animating body.main > main {
  opacity: 0;
}
