@use "variables" as *;

@mixin centered-page {
  width: var(--page-width);
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  color: var(--foreground);
  background-color: var(--background);
}

body {
  margin: 0 auto;
  font-size: clamp(0.95rem, 0.6167rem + 1.0667vw, 1.15rem);
  font-family: "Lato", "Helvetica", "Noto Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Nunito", "Source Sans Pro", "Helvetica", "Segoe UI", sans-serif;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--dull);
}

.material-icons {
  cursor: default;
  user-select: none;
  font-size: 1.35em;

  &.large {
    font-size: 2.25em;
  }

  &.inline {
    font-size: 1.5em;
    margin: 0 -0.1em;
    vertical-align: bottom;
    display: inline-flex;
  }
}

button,
a[role="button"] {
  &:hover,
  &:hover * {
    cursor: pointer;
  }
}

input,
select,
button {
  --input-height: 2.5em;

  border: none;
  outline: none;
  padding: 0;
  color: inherit;
  background: none;
}

button {
  height: var(--input-height);
  border-radius: var(--radius);
  padding: 0 1em;
  color: white;
  background-color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.45em;

  &.del {
    --primary: var(--error);
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
  }
}
